/* ----------------- BODY ----------------- */
body {
  position: relative;
  min-height: 100vh;
  font-family: lato, arial, helvetica;
}
/* ----------------- HEADER ----------------- */
#logo {
  color: white !important;
  font-family: georgia, arial, helvetica;
  letter-spacing: .03em !important;
}
/* ----------------- NAV ----------------- */
nav {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  background-color: #000000 !important;
}

.navbar-item {
  color: white !important;
  letter-spacing: .05em !important;
  font-weight: 400;
  font-size: 18px !important;
}

.navbar-item:hover {
  color: white !important;
  background-color: #000000 !important;
}

#banner-drink {
  margin-top: 1%;
  display: flex;
}
/* ----------------- LIQUOR ----------------- */
.form-title {
  letter-spacing: .06em !important;
  font-size: 24px;
  color: black !important;
}

#cocktail_options {
  margin-top: 5%;
}

.radio {
  font-size: 16px !important;
}
/* ----------------- SEARCH BUTTON ----------------- */
#search_drinks {
  margin-top: 2% !important;
  margin-bottom: 15% !important;
  letter-spacing: .05em !important;
  padding: .8em 7em;
  border: 1px solid black;
  font-size: 16px !important;
}
/* ----------------- RECIPES ----------------- */
.result-cards {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
/* ----------------- RECIPE TITLE ----------------- */
.message-header {
  background-color: black !important;
  color: white !important;
  letter-spacing: .05em !important;
  font-weight: 400;
  font-size: 18px !important;
  padding-left: 2.75%;
}

.subtitle {
  font-size: 16px;
}
/* ----------------- RECIPE CONTENT ----------------- */
.message-body {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
}

.ingredientTitle,
.instructionTitle {
  font-weight: 400 !important;
  letter-spacing: .05em !important;
  text-decoration: underline !important;
  font-size: 16px;
}

.ingredients {
  font-size: 14px !important;
}

.instructions {
  font-size: 14px !important;
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: white !important;
  padding-top: 2% !important;
  padding-left: 0% !important;
  padding-right: 0% !important;
  padding-bottom: 4% !important;
}
/* ----------------- ADD TO FAVORITES BUTTON ----------------- */
.favorites {
  border: 1px solid black !important;
  letter-spacing: .05em !important;
  padding: .8em 4.75em;
  border: 1px solid black;
  font-size: 14px;
}
/* ----------------- FOOTER ----------------- */
#footer {
  background-color: #000000 !important;
  color: white;
  position: relative !important;
  width: 100%;
  bottom: -10px !important;
  margin: 0px !important;
  padding: 5% !important;

}

.footer-copyright {
  font-size: 12px;
  font-family: sans-serif;
}

.footer-icons {
  color: white;
}

.footer-icons:hover {
  color: #ffd211;
}
