body {
  position: relative;
  min-height: 100vh;
  letter-spacing: 0.02em !important;
  font-family: lato, arial, helvetica;
}
/* --------------------------------- HEADER --------------------------------- */
#logo {
  color: white !important;
  font-family: georgia, arial, helvetica;
  letter-spacing: .03em !important;
}

nav {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  background-color: #000000 !important;
}

.navbar-item {
  color: white !important;
  letter-spacing: .2em !important;
  font-weight: 400;
  font-size: .95em !important;
}

.navbar-item:hover {
  color: white !important;
  background-color: #000000 !important;
}

#banner-drink {
  margin-top: 1%;
  display: flex;
}
/* ----------------- CUISINE OPTIONS & DIETARY RESTRICTIONS ----------------- */
#cocktail_options {
  margin-top: 5%;

}

#search_drinks {
  margin-bottom: 35% !important;
  letter-spacing: .2em !important;
  padding: .8em 4.75em;
  border: 1px solid black;
  font-size: .95em;
}
.message-header {
  background-color: #000000 !important;
}
.message-header {
  background-color: black !important;
  color: white !important;
  letter-spacing: .2em !important;
  font-weight: 400;
  font-size: .95em !important;
}

.message-body {
  font-size: .9em;
  letter-spacing: 0.04em !important;
  line-height: 1.5em;
}

.form-title {
  letter-spacing: .2em !important;
  font-size: 1em;
  font-weight: bold;
}

/* --------------------------------- FOOTER --------------------------------- */
footer {
  background-color: #000000 !important;
  color: white;
  position: relative !important;
  width: 100%;
  bottom: -10px !important;
  margin: 0px !important;
}

.footer-copyright {
  font-size: 12px;
  font-family: sans-serif;
}

.footer-icons {
  color: white;
}

.footer-icons:hover {
  color: #ffd211;
}
