/* ----------------- BODY ----------------- */
body {
  position: relative;
  min-height: 100vh;
  background: url(./assests/images/landingPage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 0.02em;
}
/* ----------------- HEADER ----------------- */
header {
  position: absolute;
  top: 0;
  background-color: #000000 !important;
  width: 100%;
  padding: 1% !important;
}

.logo {
  text-align: center;
  letter-spacing: .03em !important;
  font-size: 40px;
  font-family: georgia, arial, helvetica;
  color: white;
}
/* ----------------- RECIPE & COCKTAILS ----------------- */
#homepage-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30%;
}

.cocktails {
  letter-spacing: .05em !important;
  padding: .8em 4.75em;
  background-color: black !important;
  color: white !important;
  border: none;
  font-size: .95em;
  font-weight: 500 !important;
  margin-bottom: 80% !important;
  margin-left: 4em;
}

.recipes {
  letter-spacing: .05em !important;
  padding: .8em 4.75em;
  background-color: black !important;
  color: white !important;
  border: none;
  font-weight: 500 !important;
  font-size: .95em;
  margin-bottom: 80% !important;

}
/* ----------------- FOOTER ----------------- */
footer {
  background-color: #000000 !important;
  color: white;
  position: relative !important;
  width: 100%;
  bottom: 0 !important;
  margin: 0px !important;
  padding: 5% !important;
}

.footer-copyright {
  padding-right: 2%;
  font-size: 12px;
  font-family: sans-serif;
}

.footer-icons {
  color: white;
}

.footer-icons:hover {
  color: #ffd211;
}
