body {
  position: relative;
  min-height: 100vh;
  font-family: lato, arial, helvetica;
}
/* --------------------------------- HEADER --------------------------------- */
#logo {
  color: white !important;
  font-family: georgia, arial, helvetica;
}
/* --------------------------------- NAV --------------------------------- */
nav {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  letter-spacing: 0.02em;
  background-color: #000000 !important;
}

.navbar-item {
  color: white !important;
  letter-spacing: .3em !important;
  font-weight: 400;
  font-size: .95em !important;
}

.navbar-item:hover {
  color: white !important;
  background-color: #000000 !important;
}

/* ------------------------------ IMAGES/BANNER ----------------------------- */
#banner-food {
  margin-top: 1%;
  display: flex;
}


/* .block {
  max-width: 50% !important;
} */
/* ----------------- CUISINE OPTIONS & DIETARY RESTRICTIONS ----------------- */
.message-header {
  background-color: black !important;
  letter-spacing: .2em !important;
  font-size: .95em;
  font-weight: 400 !important;
}

.message-body {
  font-size: .9em;
  letter-spacing: 0.04em !important;
  line-height: 1.5em;
}

.form-title {
  letter-spacing: .2em !important;
  font-size: 1em;
  font-weight: bold;
}

#food_options {
  margin-top: 5%;
}

#search_food {
  margin-bottom: 15% !important;
  /* letter-spacing: .2em !important;
  padding: .5em 1.5em; */
  letter-spacing: .2em !important;
  padding: .8em 5.65em;
  border: 1px solid black;
  font-size: .95em;

}
/* --------------------------------- FOOTER --------------------------------- */
footer {
  background-color: black !important;
  color: white;
  position: relative !important;
  width: 100%;
  bottom: -10px !important;
  margin: 0px !important;
}

.footer-copyright {
  font-size: 12px;
  font-family: sans-serif;
}

.footer-icons {
  color: white;
}

.footer-icons:hover {
  color: #ffd211;
}
