html {
    background-color: #fff;  
}

#results {
    height: 500px;
    border: 1px solid rgb(14, 12, 12);
    overflow: scroll;
}

nav{
    background-color: black;

}

.title {
    color: #ffff;
    font-family: Didot, sans-serif;
}

nav h1 {
    color: #ffff;
    font-family: calibri, sans-serif;
}

.footer {
    background-color: black;
}

.checkbox {
font-family: calibri, sans-serif;
}