:root {
  --primary-color: rgb(249, 147, 116);
  --seconary-color: rgb(0, 0, 0);
  --header-color: rgb(206, 81, 43);
}
html {
  background-color: var(--secondary-color);
}

.message-header, .card-footer, .navbar-menu {
  background-color: var(--primary-color);
}
.navbar-menu {
  background-color: var(--header-color);
}
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  padding-bottom: 10px;
}

.navbar{
  background-color: var(--header-color);
}

.title {
  color: var(--secondary-color);
  font-family: Didot, sans-serif;
}

nav h1 {
  color: var(--secondary-color);
  font-family: calibri, sans-serif;
}

.checkbox {
  font-family: calibri, sans-serif;
  }

.button {
  border: 0px;
  font-size: 12px;
  background-color: var(--primary-color);
  color: black;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.1);
}

h3 {
  font-family: calibri, sans-serif;
  color: var(--secondary-color);
  font-size: 14px;
}

.footer {
    background-color: var(--header-color);
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
}
.footer i, .footer h4 {
  color: black;
}

.favorites {
  background-color: rgb(255, 253, 253);
  border: 1px solid black;
  color: rgb(189, 56, 56)
}
.favorites:active, .favorites:focus {
  font-weight: 900;
  color: rgb(189, 56, 56)

}
.navbar-item, .logo {
  color: var(--seconary-color);
  font-family: Didot, sans-serif;
}
.navbar-item {
  font-size: 2vw;
}

.options-container  {
  margin-top: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px;
  align-items: center;
  margin-bottom: 20px;
}

#form {
  position: sticky;
  position: -webkit-sticky;
  padding-right: 1vw;
  top: 5rem;
  padding-left: 10px;
}

.page-title {
  border-bottom: 2px solid black;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 15px;
  color: black;
}

.results-card {
  border: 1px solid black;
}
.nav {
  width: 100%;
}
