
html {
  background-color: #fff;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  padding-bottom: 10px;
}

nav{
  background-color: rgb(14, 12, 12);
}

.title {
  color: #ffff;
  font-family: Didot, sans-serif;
}

nav h1 {
  color: #ffff;
  font-family: calibri, sans-serif;
}

.checkbox {
  font-family: calibri, sans-serif;
  }

.button {
  border: 0px;
  font-size: 12px;
}

.button:hover {
  transform: scale(1.1);
}

h3 {
  font-family: calibri, sans-serif;
  color: #fff;
  font-size: 14px;
}

.footer {
    background-color: rgb(14, 12, 12);
    height:auto;
}

.favorites:active, .favorites:focus {
  background-color: rgb(199, 71, 32);
  color: black;

}
.navbar-item, .logo {
  color: white;
  font-family: Didot, sans-serif;
}

.options-container  {
  margin-top: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px;
  align-items: center;
  margin-bottom: 20px;
}

#form {
  position: sticky;
  position: -webkit-sticky;
  padding-right: 1vw;
  top: 5rem;
  padding-left: 10px;
}

.page-title {
  border-bottom: 2px solid black;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.results-card {
  border: 1px solid black;
}
.nav {
  width: 100%;
}
